/* Style for the main container holding product items */
.product-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  height: 90vh;
  flex-grow: 1;
}

/* Style for each individual product container */
.product-container {
  flex-direction: column;
  width: 20rem;
  margin: 5px;
}

/* Style for images inside product containers */
.product-container img {
  max-width: 100%;
  height: auto;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .product-container {
    width: 15rem; /* Adjust width for smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .product-container {
    width: 100%; /* Take full width on extra small screens */
    margin: 5px 0; /* Reduce margin for better spacing */
  }
}
